* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#root {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#editor, #tasks{
    width:50%;
    padding: 5%;
}

/* Editor */
textarea{
    width: 100%;
}

#editor *{
    margin: 5px;
    padding: 5px;
}

/* Tasks */
.active-task, .inactive-task {
    display:flex;
    flex-direction: row;

    padding: 5px;
    border: 1px solid #666666;
    margin-bottom: 10px;
}

.inactive-task {
    background-color: #333333;
    color: #aaaaaa;
}

.name-task{
    flex-grow: 1;
    flex-shrink: 0;
}

.buttons-task {
    flex-grow: 0;
    flex-shrink: 1;
}

.check-task {
    margin-right: 5px;
}

.delete-task {
    color: #ff3333;
    border-color: #ff3333;
    background-color: #ff8888;
    border-radius: 25%;
}