* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "tasks editor"
    "tasks prevs"
    "tasks null";
    width: 100%;
}

#editor, #tasks, #prevs{
    padding: 5%;
}

/* Editor */
#editor {
    grid-area: editor;
}

textarea{
    width: 100%;
}

#editor *{
    margin: 5px;
    padding: 5px;
}

/* Prevs */
#prevs {
    grid-area: prevs;
}

/* Tasks */
#tasks {
    grid-area: tasks;
}

.active-task, .inactive-task, .prev-task {
    display:flex;
    flex-direction: row;

    padding: 5px;
    border: 1px solid #666666;
    margin-bottom: 10px;
}

.inactive-task {
    background-color: #333333;
    color: #aaaaaa;
}

.name-task, .name-prev{
    flex-grow: 1;
    flex-shrink: 0;
}

.buttons-task, .button-prev {
    flex-grow: 0;
    flex-shrink: 1;
}

.check-task {
    margin-right: 5px;
}

.delete-task {
    color: #ff3333;
    border-color: #ff3333;
    background-color: #ff8888;
    border-radius: 25%;
}