* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#root {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#editor, #tasks{
    width:50%;
    padding: 5%;
}

textarea{
    width: 100%;
}

#editor *{
    margin: 5px;
    padding: 5px;
}